*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

html, body{
    background-color:  #212529;
    height:100%;
}



h1,h2,h3,h4,h5,h6{
    color: white;
  }

#preview{
    display:flex;
    justify-content: left;
    max-width: 640px;
    max-height: 360px;
    height: 64%;
    width: 36%;
}

small,span{
    color:white;
    font-family: "Poppins", sans-serif;
}


.popover-body,.popover-header{
    border:"1px solid white";
    border-radius: "20px";
    opacity: "20%";
    
}

.popover{
    
}

.inner{
    min-width: 800px;
}

.spacer{
    height: 100px;
}

.interactions{
    font-size: small;
}

.c-aside{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 98; 
}

#search_bar::placeholder{
    font-size: medium;
    font-family: "Poppins";
}


.focused{
    background: red;
}

#search_bar{
    border:none;
    background: transparent;
    height: 20px;
    width: 200px;
}

#card-element {
    border-radius: 4px 4px 0 0;
    padding: 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    max-height: 44px;
    width: 100%;
    background: white;
    box-sizing: border-box;
  }

#credit_card_form {
    width: 30vw;
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
      0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 40px;
  }


#card_submit_button {
    background: #5469d4;
    font-family: Arial, sans-serif;
    color: #ffffff;
    border-radius: 0 0 4px 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
  }

#post_text_input{
    background: transparent;
    border-radius: 10px;
    height: 50px;
    border:"1px solid white";
    text-decoration-color: white;
    color: white;
}

#selector{
    border-image-source:white;
    border-width: 2px;
    border-image-slice: 1;
}

#selector1{
    border-image-source:white;
    border-width: 2px;
    border-image-slice: 1;
}





.form-control:focus{
    color:white;
}


.aside-text{
 /* Style for "Profile" */

height: 45px;
color: #ffffff;
font-family: "Segoe UI";
font-size: 34px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: center;
/* Text style for "Profile" */
font-style: normal;
letter-spacing: normal;
line-height: normal;
}